div {
    background-color: #f0f0f0; 
    padding: 20px; 
    border: 1px solid #b47878; 
  }
  
  
.message {
    font-style: italic; 
    color: #333; 
}


#unique-id {
font-weight: bold; 
text-decoration: underline; 
}


ul li {
list-style-type: square;
margin-left: 20px;
}


a[href="google"] {
color: red; 
text-decoration: none; 
}


a:hover {
color: green; 
}